
.footer{
 width:166px;
 align-items: center;
 margin: 0 auto;
 margin-bottom: 24px;
 margin-top: 90px;
}
@media screen and (max-width: 1024px) {
  .footer{
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (max-width: 544px) {
  .footer{
    font-size: 14px;
    line-height: 14px;
  }
}