.intro{
max-width: 984px;
margin-bottom: 132px;
margin: 0 auto;
}
.intro__title {
  max-width: 830px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0%;

}
.intro__quote{
max-width: 738px;
font-weight: 400;
font-size: 24px;
line-height: 34px;
letter-spacing: 0%;
}
.intro__author{
max-width: 732px;
font-weight: 400;
font-size: 24px;
line-height: 34px;
letter-spacing: 0%;
text-align: right;
}
.intro__description{
max-width: 722px;
font-weight: 400;
font-size: 16px;
line-height: 163%;
letter-spacing: 0%;
}
@media screen and (max-width:1024px) {
  .intro{
    padding: 0 24px;
  }
  .intro__title {
    font-size: 45px;
    line-height: 49px;
  }
  .intro__quote {
    font-size: 24px;
    line-height: 34px;
  }
}

@media screen and (max-width:544px) {
  .intro{
    padding: 0 16px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
  .intro__quote {
    font-size: 24px;
    line-height: 30px;
}
}