.lead {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  align-items: center;
  margin: 0 auto;
}
.lead__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: 0%;
  text-align: center;
}
.lead__description {
  max-width: 720px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}
.lead__image {
  width: 100%;
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px)  {
  .lead__title{
    font-size: 75px;
    line-height: 79px;
  }
  .lead__description{
    font-size: 30px;
    line-height: 36px;
  }
  .lead__image{
    width: 768px;
    height: 480px;
  }
}
@media screen and (max-width: 544px) {
  .lead__title{
    font-size: 40px;
    line-height: 44px;
  }
  .lead__description{
    font-size: 16px;
    line-height: 20px;
  }
  .lead__image{
    width: 320px;
    height: 200px;
  }
}