.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  color: white;
  max-width: 1280px;
  margin: 0 auto;
}
body{
background-color: #2A2C2F;
}
@media screen and (max-width: 544px) {
.content{
}
}