.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto 460px 1fr;
  grid-template-areas: "title artist " " image description" "button description";
  gap: 40px;
}
.place__image {
  width: 100%;
  grid-area: image;
}
.place__title {
  font-family: Inter;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  grid-area: title;
}
.place__artist-content {
  grid-area: artist;
  align-self: end;
}
.place__description {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  letter-spacing: 0%;
}
.place__description-content {
  grid-area: description;
}
.place__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 356px;
  height: 48px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  border-radius: 4px;
  grid-area: button;
  text-decoration: none;
  color: white;
}
.place__button:hover {
  background: linear-gradient(90deg, rgba(2, 120, 254, 0.25) 0%, rgba(0, 58, 123, 0.25) 99.98%);

}
.place__image:hover{
  opacity: 0.5;
}
@media screen and (max-width: 1024px) {
  .place {
    padding: 0 24px;
    grid-template-columns: 340px 1fr;
  grid-template-rows: auto 340px 1fr;
  }
  .place__image {
  }
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
  .place__artist-content {
  }
  .place__description {
    font-weight: 400;
    font-size: 16px;
  }
}
@media screen and (max-width: 544px) {
  .place {
    grid-template-areas:
      "title"
      "artist"
      "image"
      "description"
      "button";
      padding: 0 16px;
      grid-template-rows: auto auto 320px auto auto;
        grid-template-columns: 1fr;
    max-width: 100%;
  }
  .place__image {
    margin-bottom: 30px;
    max-width: 100%;
  }
  .place__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 100%;
  }
  .place__artist-content {
    margin-top: 30px;
    max-width: 100%;
  }
  .place__description {
    font-weight: 400px;
    font-size: 16px;
    margin-bottom: 25px;
  }
  .place__button {
    margin-top: 30px;
    width: 100%;
  }
}
